* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Marlin";
  src: url("fonts/Marlin.woff2") format("woff2");
}

@font-face {
  font-family: "Mafra W01 Medium";
  src: url("https://db.onlinewebfonts.com/t/a70fefe1392a02916556815d58e164fb.eot");
  src: url("https://db.onlinewebfonts.com/t/a70fefe1392a02916556815d58e164fb.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/a70fefe1392a02916556815d58e164fb.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/a70fefe1392a02916556815d58e164fb.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/a70fefe1392a02916556815d58e164fb.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/a70fefe1392a02916556815d58e164fb.svg#Mafra W01 Medium")format("svg");
}

/* write your CSS here */
body {
  background-color: #e6e9fb;
}

/* Section */ 
.box {
  background-color: white;
  padding: 90px;
  border: 2px solid white;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px; /* applies margin around the element */
}

h1{
  text-align: center;
  color: black;
  font-family: "Mafra W01 Medium";
}
p {
  text-align: center;
  color: black;
  font-family: "Marlin", sans-serif;
}

label {
  display: block;
  font:
    1rem "Fira Sans",
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}