* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* write your CSS here */
body {
  background-color: #e6e9fb;
}

/* Section */ 
.box {
  background-color: white;
  padding: 90px;
  border: 2px solid white;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px; /* applies margin around the element */
}


h1{
  text-align: center;
  color: black;
  font-family: Mafra W01 Large;
}
p {
  text-align: center;
  color: black;
}

label {
  display: block;
  font:
    1rem "Fira Sans",
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}